<h1>Notification booking_confirmed</h1>
Hi,
<p>
  <%= @booking.user.email %>
</p>
<p>Your Booking is confirmed</p>
<p>Booking Details</p>
<p>Name of Room : <%= @booking.room.name %></p>
	<p>Check In : <%= @booking.start_date %>
	   Check Out : <%= @booking.end_date %></p>

<p>Regards</p>
	
